.shopHours-container > div {
  font-style: italic;
  font-size: large;
}

.map {
  width: 450px;
  height: 300px;
  border: 0;
  margin: 20px 0px;
}

.about-us {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0px;
}

.phone-number {
  margin-top: -40px;
}
