.image-container {
  border-radius: 30px;
  text-align: center;
  margin: auto;
  width: 60%;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: -80px;
}

.home-page-btn {
  padding: 1.6em 2.2em;
  font-size: 21px;
  margin-top: -15px;
}
