.navbar {
  display: flex;
  flex-wrap: nowrap;
  margin-top: -30;
  padding: 0.5rem;
  border: 5ex;
  /* margin: 3rem 5rem; */
  border-radius: 10px;
  box-shadow: 1px 2px 5px lightgray;
  background-color: black;
  /* flex-direction: row; */
}

.navbar-item {
  flex-basis: 20%;
  list-style-type: none;
  text-align: center;
}

.navbar-link {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: x-large;
  font-weight: 800;
  color: darkgoldenrod;
  font-family: "Cinzel";
}

.navbar-logout {
  margin-left: auto;
}

/* .navbar-link:hover {
 
} */
